@font-face {
	font-family: "Clash Display";
	src: url("font/ClashDisplay-Variable.woff2") format("woff2");
	font-weight: 200 700;
	font-style: normal;
}
@font-face {
	font-family: "Public Sans";
	src: url("font/PublicSans-Variable.woff2") format("woff2");
	font-weight: 100 900;
	font-style: normal;
}
@font-face {
	font-family: "Public Sans";
	src: url("font/PublicSans-VariableItalic.woff2") format("woff2");
	font-weight: 100 900;
	font-style: italic;
}

body {
	font-family: "Public Sans", system-ui, sans-serif;
	color: white;
	background: black;
	margin: 0;
	font-size: 18px;
	--bg: black;
	--fg: white;
	--gray: gray;
	--acc: yellow;
	--full-width: 64rem;
	--left-width: 20rem;
	--right-width: 41rem;
	main > * {
		&:nth-child(3n+1) {--acc: yellow;}
		&:nth-child(3n+2) {--acc: cyan;}
		&:nth-child(3n+3) {--acc: magenta;}
	}
	margin-bottom: 8rem;
}
remix-collection {
	border-left: solid 1px #444;
	display: block;
	width: calc(var(--full-width) + 2rem);
	margin: 0 auto;
	a-song {
		transform: translateX(-1px);
	}
	position: relative;
	remix-collection-title {
		left: -2rem;
		transform: rotate(90deg) translate(-0.5rem, -1rem);
		color: var(--gray);
		transform-origin: left;
		position: absolute;
	}
}
a-song {
	display: block;
	padding: 0.125rem 0;
	song-c {
		width: var(--full-width);
		margin: 0 auto;
		display: flex;
		align-items: flex-start;
		song-title {
			as-single-for {
				display: block;
				color: var(--gray);
				margin-bottom: 0.5rem;
				font-size: 0.75em;
			}
		}
		the-date {
			display: inline-block;
			width: 8.5rem;
			color: var(--gray);
			flex-shrink: 0;
		}
	}
}
an-assist {
	display: block;
	assist-c {
		width: var(--full-width);
		margin: 0 auto;
		display: flex;
		align-items: flex-start;
		the-date {
			color: var(--gray);
			flex-shrink: 0;
			width: 8.5rem;
			display: inline-block;
		}
		div {
			display: inline-block;
			p {
				color: var(--gray);
				margin: 0;
			}
		}
		img {
			display: block;
			width: 2.75rem;
			height: 2.75rem;
			margin-right: 1.5rem;
			user-select: none;
		}
	}
}

an-album {
	display: block;
	background: var(--bg);
	color: var(--fg);
	padding: 8rem 0;
	album-c {
		width: var(--full-width);
		margin: 0 auto;
		display: block;
		a-column {
			display: inline-block;
			vertical-align: top;
			&:nth-child(1) {
				img.album-art {
					user-select: none;
					width: var(--left-width);
					height: var(--left-width);
					display: block;
					margin-bottom: 1rem;
				}
				span {
					color: var(--gray);
					display: inline-block;
					width: 8.5rem;
				}
			}
			&:nth-child(2) {
				p {
					line-height: 125%;
				}
				bonus-tracks {
					display: block;
					margin-top: 1rem;
					font-size: 0.75em;
					color: var(--gray);
					line-height: 150%;
				}
				margin-left: 3rem;
				width: var(--right-width);
				h2 {
					font-size: 2.5rem;
					margin: 0;
					color: var(--acc);
					font-family: "Clash Display", sans-serif;
					font-weight: 650;
					line-height: 100%;
				}
				the-tracklist {
					margin-top: 1rem;
					display: flex;
					line-height: 135%;
					width: 100%;
					tracklist-column {
						flex: 1;
						display: flex;
						flex-direction: column;
						gap: 1rem;
						vertical-align: top;
						display: inline-block;
						tracklist-item {
							display: flex;
							align-items: flex-start;
							padding-right: 1rem;
							tracklist-item-number {
								display: inline-block;
								vertical-align: top;
								width: 2rem;
								color: var(--acc);
								flex-shrink: 0;
							}
							tracklist-item-title {
								display: inline-block;
								vertical-align: top;
								flex: 1;
								min-width: 0;
								a:hover {
									color: var(--acc);
								}
							}
						}
					}
				}
			}
		}
	}
}
::selection {
	background: var(--acc) !important;
	color: var(--bg) !important;
}
a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

header {
	position: relative;
	border-bottom: solid 1px #ffffff33;
	overflow: hidden;
	padding: 18rem 0;
	header-content {
		height: 14rem;
		background: #00000000;
		backdrop-filter: blur(2rem);
		border: solid 1px #ffffff33;
		padding: 4rem;
		width: min(var(--full-width), 40rem);
		margin: 0 auto;
		display: block;
		user-select: text;
		header-column {
			width: 50%;
			display: inline-block;
			vertical-align: top;
			margin-top: -1rem;
		}
		h1 {
			font-size: 5.875rem;
			margin: 0;
			font-family: "Clash Display", sans-serif;
			font-weight: 400;
			line-height: 100%;
		}
		p {
			display: block;
		}
		fka-label {
			background: white;
			color: black;
			padding: 0.125rem 0.5rem;
			font-weight: bold;
			margin-top: 0.25rem;
			display: inline-block;
		}
		pronoun-label {
			font-style: normal;
			font-size: 1rem;
			vertical-align: middle;
			margin-left: 0.75rem;
			color: #bbb;
		}
		table td {
			padding: 0.125rem 0;
			a {
				font-size: 1.05rem;
				img {
					height: 1.25rem;
					margin-top: -0.125rem;
					margin-right: 0.4rem;
					vertical-align: middle;
					user-select: none;
					-webkit-filter: drop-shadow(0 0 5px black);
				}
				&:hover img {
					filter: grayscale(100%) brightness(10000%);
					animation: 0.2s icon-hover;
				}
			}
		}
	}
	position: relative;
	user-select: none;
	overflow: hidden;
	rhombus-container {
		pointer-events: none;
		a-rhombus {
			position: absolute;
			transition: opacity 1s;
			z-index: -1;
		}
	}
}

@keyframes icon-hover {
	0% {scale: 1.2;}
}

mobile-header {
	display: none;
}

@media (max-width: 64rem) {
	body {
		font-size: 2vh;
		--full-width: calc(100vw);
		--left-width: calc(var(--full-width) - 2rem);
		--right-width: calc(var(--full-width) - 2rem);
		overflow-x: hidden;
		margin-bottom: 0;
	}
	rhombus-container {
		display: none;
	}
	header {
		display: none;
		padding: 0;
		header-content {
			border: none;
			width: var(--full-width);
			padding: 0;
			header-column {
				display: block;
				width: var(--full-width);
			}
		}
	}
	a-song, an-album, an-assist {
		width: var(--full-width);
	}
	a-song, an-assist, .spacer {
		display: none !important;
	}
	an-album {
		padding: 1rem;
		padding-bottom: 6rem;
		box-sizing: border-box;
		bonus-tracks {
			display: none !important;
		}
		a-column {
			margin: 0 !important;
			h2 {
				margin-top: 1rem !important;
			}
		}
	}
	mobile-header {
		display: block;
		padding: 2rem;
		h1 {
			font-family: "Clash Display", sans-serif;
			margin: 0;
			font-weight: 400;
			line-height: 100%;
			font-size: 5rem;
			margin-top: 2rem;
		}
	}
}

@media (max-width: 44.99rem) {
	an-album the-tracklist {
		display: none !important;
	}
	footer {
		display: none;
	}
}
@media (min-width: 45rem) and (max-width: 64rem) {
	body {
		--left-width: calc((var(--full-width) - 2rem) * 0.4);
		--right-width: calc((var(--full-width) - 2rem) * 0.6 - 2rem);
		an-album a-column:nth-child(2) {
			margin-left: 2rem !important;
		}
		the-tracklist {
			flex-direction: column !important;
		}
	}
	footer {
		display: none;
	}
}

footer {
	width: var(--full-width);
	margin: 4rem auto;
	color: var(--gray);
}
.bday:hover::after {
	content: " !";
}